*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* font-family:'Roboto', sans-serif;; */

}
:root{
    --color-primary: #ffca95;
    --color-primary-variant: #fff0c8;
    --color-bg-1:#2d3b43 ;
    --color-bg-2: #3e515b;
    --color-bg-3:#4d6471 ;
    --color-bg-4: #5c7988;
    --color-light:#97adba ;
    --color-white:hsl(0, 0%, 90%) ;
    
    /* another color theme */
    /* --color-primary:#ffe0b2 ;
    --color-primary-variant:#ffcc80 ;
    --color-bg-1:#520c61 ;
    --color-bg-2: #6d1371;
    --color-bg-3: #7c1779;
    --color-bg-4: #8c1e80;
    --color-light: #cd8ec0;
    --color-white:hsl(0, 0%, 90%) ; */

    --container-width-lg: 88%;
    --container-width-md: 92%;

    --transition: all 400ms ease;

    
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
    background: var(--color-bg-3);
    color: var(--color-light);
    line-height: 1.7;
}
h1, h2 {
    line-height: 1.1;
    font-weight: 400;

}
h1{
    font-size: 4rem;
    color: var(--color-white);
}
h2{
    font-size: 3.5rem;
}
a{
    color: var(--color-light);
    transition: var(--transition);
}
a:hover{
    color: var(--color-primary);
}
.container{
    width: var(--container-width-lg);
    margin: 0 auto;
    max-width: 2160px;
}
img{
    display: block;
    object-fit: cover;
    width: 100%;
}

/* navbar */
nav{
    height: calc(16px * 5);
    width: 100vw;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

/* nav class scroll using js */
.window-scrolled{
    background: var(--color-bg-2);
    border-bottom: 0.2rem solid var(--color-bg-3);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
.nav_container{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* for mobiles and tablets */
.nav_toggle-btn{
    display: none;
}
.navlinks{
    display: flex;
    gap: 4rem;
}

.nav_socials{
    display: flex;
    gap: 1rem;
}
.nav_socials a{
    height: 2.5rem;
    width: 2.5rem;
    background: linear-gradient(var(--color-primary-variant), var(--color-primary));
    border-radius: .5rem;
    color: var(--color-bg-4);
    display: grid;
    place-items: center;
    transition: var(--transition);
}
.nav_socials a:hover{
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}
.contact_btn{
    background: var(--color-light);
    color: var(--color-bg-1);
    padding: .5rem 1.5rem;
    border: 0;
    border-radius: .5rem;
}
.contact_btn:hover{
    background: linear-gradient(135deg,var(--color-primary), var(--color-primary-variant));
    color: var(--color-bg-1);
}
.nav_logo{
    color: var(--color-primary);
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 1.5rem;
}

/* header */
header{
    max-width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    background: linear-gradient(var(--color-bg-3), var(--color-bg-1));
    overflow: hidden;
}
.header_container{
    display: grid;
    grid-template-columns:38% 50% ;
    gap: 10%;
    margin-top: 6rem;
    position: relative;
}
.header_image-bg{
    background: var(--color-bg-4);
    height: 22rem;
    width: 22rem;
    position: absolute;
}
.header_image-lg{
    width: 26rem;
    height: 26rem;
    position: relative;
    top: 1rem;
    left: 1rem;
    filter: saturate(0)
    brightness(0.3);
    transition: var(--transition);
}
.header_image-sm{
    width: 25rem;
    height: 25rem;
    overflow: hidden;
    position: absolute;
    left: 4rem;
    top: 4rem;
    transition: var(--transition);
}
.left:hover .header_image-sm{
    opacity: 0;

}
.left:hover .header_image-lg{
    filter: saturate(1) brightness(1);
    border:1rem solid var(--color-bg-3) ;
    top: 0;
    left: 0;

}
.right .header_head{
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}
.empty{
    height: 3.5rem;
    width: 18rem;
    background: var(--color-bg-2);
    border-radius: calc(3.5rem / 2);
    margin-bottom: 3.5rem;
    box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.3);
}
.header_tag{
    color: var(--color-primary-variant);
}
.right p{
    margin-top: 2rem;
    width: 85%;
}
/* only shows on tablets and phones */
.header_btn-md{
    display: none;
}
.header_frames{
    position: absolute;
    top: 88vh;
    right: 44rem;
    transition: var(--transition);
}
.header_frame{
    width: 14rem;
    border: 0.4rem solid var(--color-bg-3);
    box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: rotate(-10deg);
    transform-origin: bottom left;
    transition: var(--transition);
}
.header_frame:nth-child(2){
    transform: rotate(20deg);
    top: -2rem;
    left: 2rem;
}
.header_frames:hover .header_frame{
    transform: rotate(0);
}
.header_frames:hover .header_frame:nth-child(2){
    top: 0;
    left: 15rem;
}

/* general contact styles */
/* .contact_btn{
    color: var(--color-bg-1);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer
    var(--transition)var(--transition);
}
.header_btn{
    background: linear-gradient(-30deg, var(--color-primary-variant), var(--color-primary), var(--color-primary-variant));
    position: absolute;
    right: 6%;
    bottom: -3rem;

}
.header_btn:hover{
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-1rem);
    color: var(--color-bg-1);
}
.contact_btn i{
    font-size: 3.5rem;
    position: absolute;
}

.contact_btn p{
    font-size: 1rem;
    font-weight: 600;
    width: 10rem;
    height: 10rem;
}
.contact_btn p span{
    position: absolute;
    transform-origin: 0.3rem 5rem;
} */

/* about section */
#about{
    padding-top: 18rem;
}
.about_container{
    display: grid;
    grid-template-columns: 10rem 26rem auto;
    gap: 3rem;
    position: relative;
}
.about_right .about_btn{
    transition: var(--transition);  
    background: #f57c00;
    align-self: end;
}
.about_title{
    /* position: absolute;
    top: -7rem; */
    z-index: 1; 
} 
.about_btn:hover{
    background: var(--color-light);
}
.about_image{
    position: relative;
}
.about_image-bg{
    width: 16rem;
    height: 17.5rem;
    position: absolute;
    bottom: 0;
    background: var(--color-bg-4);
}

.about_image-lg{
    position: relative;
    left: 1rem;
    bottom: 1rem;
    filter: saturate(0) brightness(0.3);
    transition: var(--transition);
}
.about_image-sm{
    position: absolute;
    top: 2rem;
    left: 6rem;
    height: 25rem;
    width: 25rem;
    overflow: hidden;
    transition: var(--transition);
}
.about_image-sm img{
    box-shadow: 2rem 2rem 1rem rgba(0, 0, 0, 0.2);

}
.about_image:hover .about_image-sm{
    opacity: 0;
}
.about_image:hover .about_image-lg{
    filter: saturate(1) brightness(1);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
    border: 1rem solid var(--color-bg-4);
    bottom: 0;
}
.about_right{
    margin-left: 5rem;
}
.about_right p{
    margin: 0 4rem 1.5rem 0;
}
.about_right .about_btn{
    margin-top: 1rem;
    padding: .6rem 2rem;
}


/* Gallery Section */
#gallery{
    margin-top: 12rem;
}
 .gallery__head{
    display: flex;
    justify-content: space-between;

}
.gallery__container p{
    width: 45rem;
    margin-top: 2rem;
}
.swiper-wrapper{
    margin-top: 5rem;
    height: 37rem;
    padding-bottom: 5rem;
}
.swiper-slide{
    border: .5rem solid var(--color-light);
    height:29rem;
    max-height: 36rem;
    overflow: hidden;
    transition: var(--transition);
    /* height: 29rem;
    width: 15rem;
    overflow: hidden; */
}
.swiper-slide:hover{
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
}
.swiper-slide img{
    filter: saturate(0);
    transition: var(--transition);
}
.swiper-slide:hover img{
    filter: saturate(1);
}
.swiper-pagination-bullet{
    background: #f57c00;
}
#exhibition{
    margin-top: 10rem;
}

.exhibition_container{
    position: relative;
}
.exhibitions_empty{
    width: 26rem;
    position: absolute;
    right: 14rem;
    top: 0;
}
.exhibitions_head{
    display: grid;
    grid-template-columns: auto 10rem;
    justify-content: space-between;
    align-items: center;
}
.exhibitions_head > p{
    width: 45rem;
    margin-top: 2rem;
}
.exhibitions-btn{
    background: var(--color-primary-variant);
    text-align: center;
    transition: var(--transition);
}
.exhibitions-btn{
    transform: translateY(-1rem);
}

.exhibitions_gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem;
    gap: 3rem;
}
.exhibitions_gallery article{
    border: .5rem solid var(--color-bg-4);
    transition: var(--transition);
}
.exhibitions_gallery article:nth-child(1){
    grid-row: 1/3;
}
.exhibitions_gallery article:nth-child(4){
    grid-column: 2/4;
    grid-row: 2/3;
}

.exhibitions_gallery article img{
    height: 100%;
    filter: saturate(0);
    transition: var(--transition);
}
.exhibitions_gallery article:hover img{
    filter: saturate(1);
}
.exhibitions_gallery article:hover{
    box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.5);
}
footer{
    margin-top: 7rem;
}
.footer_container{
    border-top: .5rem solid var(--color-light);
    padding-top: 5rem;
}
.footer_head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.footer_title{
    letter-spacing: 3px;
}
.footer-btn{
    padding: .5rem;
    border: .2rem solid var(--color-primary-variant);
    border-radius: .2rem;
    font-size: 1rem;
    color: var(--color-primary-variant);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-btn:hover{
    transform: translateY(-1rem);
    border-color: var(--color-primary);
}
.footer_links{
    margin: 3rem 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}